html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding: 0;
  background: #555555 url(images/bg-tile.png);
  font-family: cursive;
}

h1 {
  color: #EEEEEE;
  margin: 15px 0 15px;
  text-align:center;
}

h2 {
  color: #333333;
  margin: 20px 0 5px 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 2px;
}


h3 {
  color: #666666;
  margin: 10px 0 10px 0;
}

h4 {
  color: #666666;
  margin: 10px 0 10px 0;
}

ol {
  padding: 0 0 0 20px;
}

p {
  color: #444444;
  margin: 0 0 10px 0;
}
a {
  color: #440000;
}
ul {
  padding: 0 0 0 30px;
}

li {
  margin-bottom: 5px;
}

.album {
    border: 2px dashed;
    padding: 10px 5px 10px 5px;
    margin:5px;
}

.bands-list {
  list-style-type: none;
  padding-left: 0;
}

.bands-list a {
  text-decoration: none;
  color: #ff2244;
}

.bands-list h3 {
    border: 0;
    margin:0;
}

.bands-list li {
  border: 1px solid #555555;
}

.day-time {
  color: #444444;
  text-decoration: underline;
}

.concert-location {
  color: #888888;
  text-decoration: underline;
}

.content-section {
  padding: 15px;
  width: 450px;
  margin: 5px auto;
  background: #dddddd url(images/bg-content.png);
  border-radius: 5px;
}

.header {
  padding: 15px;
  background: #242424 url(images/bg-header.png) center ;
}

.header img {
  display: block;
  margin: 0 auto 15px auto;
}

.nav {
  padding: 0;
  text-align: center;
}

.nav a {
  color: #ee932a;
}

.nav li {
  display: inline;
  padding-right:20px;
}
.nav li:last-child {
  padding-right:0;
}

.recording-now {
  margin-top: 5px;
  width: 440px;
  height: 200px;
  background: #ffffff url(images/prependers-recording.jpg) top center no-repeat  ;
  border: 1px solid #ff0000;
  padding: 4px;
}

 .recording-now p {
   font-size: 28px;

 }
